<h1 mat-dialog-title>{{dialogTitle}}</h1>

<div style="margin-top: 10px; margin-bottom: 10px; margin-left: 20px;">
    <div class="row">
        <div class="col-md-12">
            <table id="data">
                <thead>
                    <th>Datetime</th>
                    <th>Message</th>
                </thead>
                <tbody>
                    <tr *ngFor="let data of dataTable">
                        <td>{{data.datetime}}</td>
                        <td><div [innerHTML]="data.message"></div></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div mat-dialog-actions>
    <button mat-button type="button" style="background-color: gainsboro;" cdkFocusInitial (click)="close()" tabindex="-1">Close</button> 
</div>